import(methods)
export(populate, createTable, mergeStatement, insertStatement, makeSchemaFromData, append, length, 'relationship<-')
#searchCols, searchDict, searchTables,
exportClass(TableSchemaList)
